!!! 5
%html
  %head
    %title /ascii/
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/styles.css"}

  %body
    %h1 /ascii/

    %form{:method => 'post'}
      %label
        %div Title
        %input{:type => 'text', :name => 'title', :value => %Q{#{locals[:title]}}}

      %label
        %div.art Art
        =find_and_preserve do
          %textarea{:name => 'artwork'}
            = %Q{#{locals[:artwork]}}

      .error
        = %Q{#{locals[:error]}}
      %br
      %input{:type => 'submit'}

    %hr
    %div.art Art Gallery
    %hr
    - locals[:art_gallery].each do |a|
      .art-title
        #{a.title}
      %pre.art-body
        :preserve
          #{a.work_of_art}

